:root {
    /* CSS HEX */
    --color1: #0d1b2a;
    --color2: #197278;
    --color3: #edddd4;
    --color4: #c44536;
    --color5: #772e25;    
}

/* inicio de estilos generales */
* {
    box-sizing: border-box;
}

h1, h2, h3, h4 {
    font-family: 'Bree Serif', serif;
}
#CV h3, #CV h4 {
    color: var(--color5);
}
h4 {
    font-size: calc(1rem + .25vw);
}

p, ul {
    /* font-family: 'Roboto', 'Times New Roman', Times, serif; */
    list-style-type: disclosure-closed;
}


body {
    background-color: var(--color3);
    color: var(--color1);
}

header {
    background-color: var(--color5);
    color: var(--color3); 
}

footer  {
    background-color: var(--color5);
    color: var(--color3);
}

.centrar {
    text-align: center;
}

#logo {
    contain: strict;
    position: relative;
}
#logo img{
    float: right;
    max-height: 80px;
    width: auto;
    position: absolute;
    top: 50%;
    right: 0.75rem;
    transform: translateY(-50%);
}
/* fin de estilos generales */

/* inicio del menu: */
#dropdown {
    position: relative;
    float: left;
    display: inline-block;
}

.dropbtn {
    width: fit-content;
    background-color: var(--color4);
    color: var(--color1); 
    font-size: large;
    font-weight: bold;
    border-color: var(--color5);
    border-radius: 0.375rem;
    margin: 0.25rem
}

.dropbtn:hover {
    background-color: var(--color3);
    border-color: var(--color3);
    color: var(--color1)
}

.contenido-dropdown {
    display: none;
    position: absolute;
    background-color: var(--color1);
    /* min-width: 160px; */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     padding: 12px 16px; 
    z-index: 1;
    /* margin-left: 2.5rem; */
}

#dropdown a {
    color: var(--color3);
    text-decoration-line: none;
}



#dropdown:hover .contenido-dropdown {
    display: block;
}
/* fin del menu */

section {
    padding: 1.5vh 1vw;
}

#persona {
    background-color: var(--color1);
    color: var(--color3);
}

#p-img {
    width: 100%;
    max-width: 300px;
}

#nombrePersona {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#CV {
    display: block;
    padding-left: 0.25rem;
    padding-right: 0.20rem;
}
#univDiv {
    width: inherit;
}

#universidad {
    width: inherit;
    padding: 15%;
    margin-top: 5%;
}

/* inicio formulario  */
#formulario {
    padding: 0.5rem;
}
fieldset {
    padding: 10rem 0;
} 

label {
    display: block; /* no funciona debido a bootstrap */
    text-align: left;
    margin: 0.5rem 0;
}

input {
    width: fit-content;
    max-width: 95vw;
    text-align: left;
}
.textarea {
    display: block;
    text-align: center;
}
#motivo {
    width: 92vw;
    height: 5rem;
    text-align: center;
}

.text-input, #url{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    border: 1px solid var(--color4);
    border-radius: 0.375rem;
    margin-top: 0.25rem;
}

form .row {
    margin-top: 0.5rem;
}

.form-label, label{
    font-weight: 600;
}

.radio-input {
    font-weight: 500;
}

.radio-input {
    display: block;
}

.boton {
    border-radius: 0.375rem;
    border: 3px solid var(--color5);
    background-color: var(--color4);
    /* background-image: radial-gradient(var(--color3), var(--color4)); */
    color: var(--color1);
    text-shadow: -0.1px -0.1px 3px var(--color3), 0.1px 0.1px 3px var(--color3);
    font-size:larger;
    font-weight: 600;
    margin: 0.75rem;
}

.boton:hover {
    background-color: var(--color5);
    color: var(--color3);
    text-shadow: none;
}

input:placeholder-shown  {
    text-overflow:ellipsis;
}

/* fin formulario */

span {
    font-weight: 600;
}
.contacto {
    text-align: center;
}

#contacto {
    padding-top: 0.75rem;
}




/* Inicio de media query */

/* Smartphone */
@media screen and (max-width: 575px) {
    #logo {
        display: none;
    }
    #divFoto {
        width: 100vw;
        text-align: center;
    }
    #p-img {
        width: 100vw;
        margin-bottom: 2vh;
    }
    #persona {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column-reverse;
        color: var(--color4); 
    }
    #nombrePersona {
        width: 100vw;
    }

    #univDiv {
        display: flex;
        justify-content: center;
    }
    #universidad {
        padding: 1rem;
        width: 30vh;
        margin-top: 5%;
    }
    footer {
        flex-wrap: wrap;
    }
    #dropdown {
        position: sticky;
    }
    .dropbtn {
        width: 100vw;
        border-radius: 0;
        border: none;
        
    }
    
}



/* Tablet */
@media screen and (min-width: 576px) and (max-width: 768px) {
    #persona {
        display: flex;
    }
    #p-img {
        width: 250px;
    }
    #nombrePersona {
        width: 75vw;
    }
    #universidad {
        margin-top: 5%;
    }
    #educacion {
        column-count: 2;
    }
}



/* Desktop */
@media screen and (min-width: 768px) {
    #persona {
        display: flex;
        text-align: center;
    }
    #p-img {
        width: 250px;
    }
    #nombrePersona {
        width: 75vw;
    }
    #CV {
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap-reverse;
        }
   
    .cv {
        width: 38vw;
        /* max-width: 25%; */
        max-width: 40%;
    }


    .contacto {
        text-align: left;
        margin-bottom: 1rem;
    }
}


/* Fin de media query */





